---
layout: default
title: Blog
permalink: /blog/
---

<h1>Blog</h1>

<p>I don't blog all that often, but when I do you'll find them all here!</p>

{% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}

    <h2>{{ year.name }}</h2>

    {% for post in year.items %}
        <div class="post">
            <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <p>{{ post.description }}</p>
        </div>
    {% endfor %}
    
{% endfor %}