---
layout: default
title: Showcase
permalink: /showcase/
---

<h1>Showcase</h1>

<p>I've always gotten a kick out of <em>making</em> things, and I think it's valuable to take stock of all the things you've made. So consider this page to be for both our benefits! You can get some idea of what makes me tick, while I get to reflect on the things that I'm proud of that I might have otherwise forgotten over the years.</p>

<h2>Games</h2>

<p>When I have the time/energy to work on a side project, it's almost definitely a game of some sort. I've worked on various games over the years, most of which remain broken and unfinished, but some of which I do manage to complete. You can check out some of the completed ones here :)</p>

{% assign games = site.showcase_items | where: "category", "Games" | reverse %}
<ul>
    {% for game in games %}
        <li><a href="{{ game.url }}">{{ game.title }}</a></li>
    {% endfor %}
</ul>

<h2>Talks</h2>

<p>I find it easiest to express myself through prepared talks, be it at conferences or just internal talks at work. These are some of the ones I've done at conferences or meetups, and should give you a bit of an idea of what sorts of stuff I like talking about!</p>

{% assign talks = site.showcase_items | where: "category", "Talks" | reverse %}
<ul>
    {% for talk in talks %}
        <li><a href="{{ talk.url }}">{{ talk.title }}</a></li>
    {% endfor %}
</ul>

<h2>Websites</h2>

<p>I don't consider myself a web developer so to speak, though a lot of the software I work on does target the web. Nevertheless, I have published or helped publish a couple websites in my time.</p>

{% assign websites = site.showcase_items | where: "category", "Websites" | reverse %}
<ul>
    {% for website in websites %}
        <li><a href="{{ website.url }}">{{ website.title }}</a></li>
    {% endfor %}
</ul>

<h2>Miscellaneous</h2>

<p>For all the stuff I'm into that isn't really related...</p>

{% assign misc_showoffs = site.showcase_items | where: "category", "Miscellaneous" %}
<ul>
    {% for misc in misc_showoffs %}
        <li><a href="{{ misc.url }}">{{ misc.title }}</a></li>
    {% endfor %}
</ul>